In [9]:
myFirstInteger = 30
print(myFirstInteger)
print(3/7)
print(808088*2343)
print(6**6)
print(17/75)
print(17%5)# teilen Ergebniss bleibt rest
print(17//5)# teilen mit rest
print(7/3)# teilen
print(10*2) #multiplizieren
print(3**3) # potenzieren
print(1+2) # addiert
print(3-3) # subtraktion

30
0.42857142857142855
1893350184
46656
0.22666666666666666
2
3
2.3333333333333335
20
27
3
0

In [10]:
myFirstInteger = 15
mySecondInteger = 10
e = myFirstInteger - mySecondInteger # zwei Variablen subtrahiert un in e gepackt
print(e)

5

In [13]:
age = 42
age + 10 # Keine additon mit nur dieser Ausssage möglich
age = age + 10 # Addieren von zwei Zahlen aber beide mit dem gleiche (age)angesprochen
age += 10 # Kurzbefehl ist das gleiche wie oben
age = age + 1
print(age)

63

In [15]:
age = 42
print(age) # Gibt den Inhalt des Speichers aus  
print(id(age)) # Gibt die Adresse des Speichers aus nicht dem Inhalt

age = 43
print(age)
print(id(age)) # Gibt die Adresse den Speichers aus nicht den Inhalt

42
94054733372616
43
94054733372648

In [21]:
myList = set() # Erstellen einer Liste
print(id(myList))
myList.add(3) # Wert 3 in der Liste hinzufügen
myList.add(4) # Wert 4 in der Liste hinzufügen
myList.add(5) # Wert 5 in der Liste hinzufügen
myList.remove(3) # Wert 3 in der Liste entfernet
print(myList)
print(id(myList))
myList = set()
print(id(myList))

132451915256704
{4, 5}
132451915256704
132451915256928

In [25]:
t1 = int(1.75) # int wertet nur gerade zahlen
print(t1)
t1 = 1.75 # wertet den ganzen Zahlenwert aus
print(t1)
t1 = "3,41" # wertet den ganzen Zahlenwert aus
print(t1)
t1 = "3,41" + "marvin" 
print(t1)

1
1.75
3,41
3,41marvin

In [28]:
t2 = int("10110" , base=2) # 0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17
print(t2)        
t2 = int("101111" , base=16) #Hexadez (0 1 2 3 4 5 6 7 8 9 A B C D E F)
print(t2)
t2 = t2 + 100
print(t2)

22
1052945
1053045

In [29]:
import sys
sys.float_info

sys.float_info(max=1.7976931348623157e+308, max_exp=1024, max_10_exp=308, min=2.2250738585072014e-308, min_exp=-1021, min_10_exp=-307, dig=15, mant_dig=53, epsilon=2.220446049250313e-16, radix=2, rounds=1)

In [34]:
print (0.3-(0.1*3)== 0)

False

In [38]:
print(int(True))
print(int(False))
print(bool(1))
print(bool(0))
print(bool(-10))
print(bool(10))
print(not True)
Print(not False)

1
0
True
False
True
True
False

NameError: name 'Print' is not defined

In [41]:
c = complex(3.14,2.73)
print(c.real)
print(c.imag)
print(c.conjugate())

3.14
2.73
(3.14-2.73j)

In [43]:
str = "Hallo \n Welt"
str1 ='Hallo Welt' 
str2 = """Hallo

Welt"""
str3 = '''Hallo

Welt'''
print(str)

Hallo
 Welt